<div class="container">
  <h1><%=@restaurant.name  %></h1>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>

  <h3>Reviews</h3>
  <p><%= @restaurant.reviews.length %></p>

    <%= render partial: "reviews/reviews", restaurant: @restaurant %>


  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  <%= render 'reviews/form', restaurant: @restaurant, review: @review %>

</div>

